

	.clearfix::after{
		content:"";
		clear: both;
		widthdisplay: table;
	}
	html {
		min-width: 550px;
		position: relative;
	}



/* Change the navbar/settings aspect */
#settings_dialog_menu > .nav {
	flex-direction: column;
}


.modal-header{
	display: block;
}
	#navbar > .navbar-inner > .container-fluid{
		background-color: rgb(233, 233, 233);
	}

	#navbar .navbar-inner .brand {
    padding: 10px 30px 6px;
	}
	
	/* -------------------------*/
	body.BLOCKSUIfixedHeader{
		/*margin-top: 50px;*/
	}
	.BLOCKSMainContainer{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
		display: inline-grid;
	}


	/* Control wrapper properties */
	#control_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#control_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#control_wrapper {
  /*  border: 1px solid #e5e5e5; */
    border-radius: 4px;

	}
	#control {
    padding: 8px 15px;
    display: flex;
		flex-direction: column;

	}

	#control > .container-fluid.accordion-inner {
    display: block;
    justify-content: center;
		position:relative;
	}

	#control > .container-fluid > .row-fluid {

		display: inline-flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
	}
	#control .jog-panel>div.distance {
    text-align: left;
    position: relative;
    top: 0px;
    left: -5px;
}
	/* ----------------------------*/

	/* Temperature wrapper properties */
	#temp_wrapper > .container-fluid.heading > a.container-fluid {
		display: inline-block;
		padding: 8px 15px;
	}
	#temp_wrapper > .container-fluid.heading {
		border-bottom: 1px solid #e5e5e5;
		position: relative;
	}
	#temp_wrapper {
		/*border: 1px solid #e5e5e5; */
		border-radius: 4px;
		height : 577px;
	}
	#temp {
		padding: 8px 15px;
		display: block;
	}

	#temperature-graph{
		background-image: url(../img/Blocks_Logo.png);
		background-position: center;
		background-size: 50%;
		width: 100%;
	}
	.table th, .table td {
    padding: 4px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
	}

	/* ----------------------------- */

	/* State wrapper properties */
	#state_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#state_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#state_wrapper {
    /*border: 1px solid #e5e5e5;*/
    border-radius: 4px;
	}
	#state {
    padding: 8px 15px;
    display: flex;
		flex-direction: column;
	}

	/* ----------------------------- */

	/* notification properties */
	#sidebar_plugin_action_command_notification_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#sidebar_plugin_action_command_notification_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#sidebar_plugin_action_command_notification_wrapper{
    /*border: 1px solid #e5e5e5;*/
    border-radius: 4px;
	}
	#sidebar_plugin_action_command_notification{
    padding: 8px 15px;
    display: flex;
		flex-direction: column;
	}

	/* ----------------------------- */

	/* Files wrapper css styles */
	#files_wrapper > .container-fluid > .container-fluid {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
	}
	#files_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;

	}
	#files_wrapper > .container-fluid.heading {
    /*border-bottom: 1px solid #e5e5e5;*/
    position: relative;
		display : flex;
	}
	#files_wrapper{
    /*border: 1px solid #e5e5e5;*/
    border-radius: 4px;
	}
	#files{
    padding: 8px 15px;
    display: flex;
		flex-direction: column;
	}
/* To fix the button settings on the files */
	.open>.dropdown-menu {
	    display: block;
	    position: absolute;
	    top: auto;
			left:auto;
	    right:auto;

	}
	/* Grid properties */

	.TopRow{
		display: flex ;
		align-items: flex-start;
		flex-wrap:nowrap;
	}
	.BotRow{
		display: flex ;
		border-top : 5px solid #e5e5e5;
		border-bottom : 5px solid #e5e5e5;
		align-items: flex-start;
		flex-wrap:nowrap;

	}
	.BLOCKCol1, .BLOCKCol2, .BLOCKCol3  {
		position: static;
		flex-basis: 100%;
		padding: 4px;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
	}




	.container-fluid {
		align-content: baseline;
		padding-left: 0px;
		padding-right: 0px;
	}


	/* Tabs properties */
	#tabs{
		border-radius: 4px;
		/*border: 1px solid #e5e5e5;*/
	}
	/* ------------------ */


	.container-fluid.body {
		/*display : contents;*/
		min-height: 350px;
	}

	/* Blocks properties */
#blocksWrapper {
	/*border: 1px solid #e5e5e5;*/
	border-radius: 4px;
}
#blocksWrapper > .container-fluid.heading {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
		display: flex;
    align-items: center;
}
#blocks_printer_connect{
	border: 2px solid;
}

.form-switch {
    padding: 7px 3px 2px 50px;
}

/* ----------------- */
.form-check-input:checked {
	/*background-color:#0dfd5d;*/
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: auto;
}
.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: auto;

}

.dropdown-toggle::after {
    display: contents;
}

#refreshButton.refresh-trigger{

		position: relative;
		left: 40px;
}
label.form-check-text {
	font-weight: bold;
}


 a{
	/*color: rgba(11, 10, 10, 0.91);*/
	color: rgb(60, 64, 67);
	font-family: "Lexend Deca", sans-serif;
}

/* Just so i don't see the black outline on the toggle switch*/
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: thin dotted #000;
    outline: 0px auto -webkit-focus-ring-color;
    /* outline-offset: -2px; */
}

/* Fan Slider */
#fanRange{
		width: 255px;
}
#fanSlider{
	display: inline-flex;
	align-content: center;
  justify-content: space-between;
  align-items: center;
}
