/*For Mobile*/
/*
@media screen and(max-width: 540px) {
  .view {
    width: 400px;
  }
}
*/

/*For Tablets*/
/*
@media screen and (min-width: 540px) and (max-width: 780px){
  .view {
    width: 600px;
  }
}
/*Big Screens */
/*
@media (min-width: 980px){

}
*/

/* With this @media, while i'm on desktop the navbar and the rest the page won't be on
   top of eachother

   Tudo o que eu quero para os ecrãs grandes tenho que por dentro deste @media
*/
/* Big Screens */
/*@media (min-width: 980px){*/

	/*.clearfix::after{
		content:"";
		clear: both;
		widthdisplay: table;
	}*/

	body.BLOCKSUIfixedHeader{
		margin-top: 50px;
	}
	.BLOCKSMainContainer{
		padding-right: 10px;
		padding-left: 10px;
	}
	.BLOCKSMainTabs.container-fluid{
		padding-left: 0px;
		padding-right: 0px;
	}

	.TopRow{
		display: flex ;
		align-items: flex-start;
		flex-wrap:nowrap;
	}
	.BotRow{
		display: flex ;
		margin-top: 10px;
		align-items: flex-start;
		flex-wrap:nowrap;

	}
	#control_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#control_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#control_wrapper {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
		flex-wrap: nowrap;
	}
	#control {
    padding: 8px 15px;
    display: flex;
		flex-direction: column;

	}
	#control .jog-panel {
    float: left;
		text-align-last: center;
		margin-right: 10px;
	}
	#control > .container-fluid.accordion-inner {
    display: flex;
    justify-content: center;
	}
	#control > .container-fluid.accordion-inner > .jog-panel {
    margin-left: 10px;
	}
	#temp_wrapper > .container-fluid.heading > a.container-fluid {
		display: inline-block;
		padding: 8px 15px;
	}
	#temp_wrapper > .container-fluid.heading {
		border-bottom: 1px solid #e5e5e5;
		position: relative;
	}
	#temp_wrapper {
		border: 1px solid #e5e5e5;
		border-radius: 4px;
	}
	#temp {
		padding: 8px 15px;
		display: flex;
	}
	#state_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#state_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#state_wrapper {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
	}
	#state {
    padding: 8px 15px;
    display: flex;
		flex-direction: column;
	}
	#sidebar_plugin_action_command_notification_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#sidebar_plugin_action_command_notification_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#sidebar_plugin_action_command_notification_wrapper{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
	}
	#sidebar_plugin_action_command_notification{
    padding: 8px 15px;
    display: flex;
		flex-direction: column;
	}
	#connection_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#connection_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#connection_wrapper{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
	}
	#connection{
    padding: 8px 15px;
    display: flex;
		flex-direction: column;
	}
	#files_wrapper > .container-fluid.heading > a.container-fluid {
    display: inline-block;
    padding: 8px 15px;
	}
	#files_wrapper > .container-fluid.heading {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
	}
	#files_wrapper{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
	}
	#files{
    padding: 8px 15px;
    display: flex;
		flex-direction: column;
	}

	.BLOCKCol1, .BLOCKCol2, .BLOCKCol3  {
		position: static;
		flex-basis: 100%;
		padding: 4px;
	}
	.container-fluid {
		align-content: baseline;
		padding-left: 0px;
		padding-right: 0px;
	}
	#navbar .navbar-inner .brand span{
		background-image: url(../img/Blocks_Logo.png);
		background-size: 100%;
	}
	

	#tabs{
		border-radius: 4px;
		border: 1px solid #e5e5e5;

	}
	.table th, .table td {
    padding: 4px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
	}
	#temperature-graph{
		background-image: url(../img/Blocks_Logo.png);
		background-position: center;
		background-size: 50%;
		width: 100%;
	}
	.container-fluid.body {
		/*display : contents;*/
		min-height: 350px;
	}

/*}*/
