<div class="jog-panel" id="Blocks_control">
  <!-- Buttons for XY and home -->
  <div class="container-fluid" id="control_xy">
    <!-- x left -->
    <div class="container-fluid upper_row">
      <button type="button" class="btn" name="button_y_up">
        <i></i>
      </button>
    </div>
    <div class="container-fluid middle_row">
      <button type="button" class="btn" name="button_x_left">
        <i></i>
      </button>
      <button type="button" class="btn" name="button_x_right">
        <i></i>
      </button>
      <button type="button" class="btn" name="button_home">
        <i></i>
      </button>
    </div>
    <div class="container-fluid bottom_row">
      <button type="button" class="btn" name="button_y_down">
        <i></i>
      </button>
    </div>

  </div>
</div>
