<!--Connection wrapper -->
  <div id = "blocks_connectionWrapper" class = "container-fluid" >
        <div class="container-fluid heading">
          <div class = "form-check form-switch" >
            <input type="checkbox" class="form-check-input" id="blocks_printer_connect" data-bind="checked: connectIt  ">
            <label  class="form-check-text" for="blocks_printer_connect" data-bind="text: connection.buttonText "> {{_('Connect')}} </label>
          </div>
        </div>
        <div class = "container-fluid body" >
        </div>
  </div>
|
