<div class="container-fluid heading">
  <div class = "form-check fomr-switch" >
    <input type="checkbox" class="form-check-input" id="flexConnectionSwitch"   data-bind="checked: connect, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()"/>
    <label class="from-check-text" for="flexConnectionSwitch" data-bind="text: "> {{_('Connect')}}</label>
  </div>
</div>
