<div class="container-fluid heading">
  <div class = "form-check fomr-switch" >
    <input type="checkbox" class="form-check-input" id="flexConnectionSwitch"  data-bind="checked: trythis, css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed()">
    <label class="form-check-text" for="flexConnectionSwitch" data-bind="text: labelText "> {{_('Connect')}} </label>
  </div>


</div>
