<!--Connection wrapper -->
  <div id = "blocks_connection_wrapper" class = "container-fluid">
        {% include "blocks_connection_header.jinja2" ignore missing %}
        {% include "blocks_connection_body.jinja2" ignore missing %}
  </div>
|
