<div class = "container-fluid heading">
  <a id = "blocks_connection_heading" class = "container-fluid heading" data-test = "" >
    <button type = "button" id ="blocks_printer_connect" class = "btn btn-default connection-button" data-test-id= "connection-connect" data-bind = "click: connect, text: buttonText" aria-label = "glyphicon-off"> DISCONNECTED </button>
  </a>
</div>
