<div class = "container-fluid" id ="fanSlider">
  <h3> General </h3>
  <input type = "range" class = "form-range" id = "fanRange" min = "0" max = "10" step = "1" data-bind="enable: control.isOperational(), value: fanControl">
  <label for="fanRange" class = "form-label" data-bind ="text: fanText">{{_('0')}}</label>
  <button  class=btn btn-block control-box" data-bind = "enable: control.isOperational() && !control.isPrinting(), click:  motorDisable "> Motors Off </button>
</div>
