<!-- Light/Dark theme switch for the page -->
<div class="container-fluid" id="LightDarkSwitchWrapper">
  <div class="form-check form-switch">
    <input type="checkbox" class="form-check-input" name="themeSwitch" checked id="LightDarkSwitch" data-bind="checked: $root.selectThemeColors">
    <label for="LightDarkSwitch" class="form-check-text" data-bind="themeSwitchText">{{ _('Light Theme')}}</label>
  </div>
</div>
