<div class="filamentOperations panel" id="control_filament" >
  <h4> Filament </h4>
  <div >
    <button class="btn btn-block control-box" id="filament_load" data-bind="enable: control.isOperational(), click: loadFilament, text: loadFilamentText"> {{ _('Load') }} </button>
    <button class="btn btn-block control-box" id="filament_unload" data-bind="enable: control.isOperational(), click: unloadFilament, text: unloadFilamentText"> {{ _('Unload') }} </button>
</div>
</div>
