<div id = "refreshButton" class="connection-refresh-trigger accordion-heading-button" data-bind="visible: $root.refreshVisible">
  <a href="#" data-bind="click: function() {$root.requestData();}" title="Refresh connection options">
    <i class="fas fa-sync"></i>
  </a>
</div>
