<div class="input-append control-box" id="babystepZ">
  <div class="container-fluid"  data-bind="enable: control.isPrinting()">
    <h4>BabyStepZ</h4>
    <input type="number" id="babystepZControl"class="input-mini" min="0.01" step="0.01" placeholder="off" data-bind="enable: control.isPrinting(),value: $root.babystepZ()">
    <span class="add-on">mm</span>
    <!-- <label class="form-check-text" for="babystepZControl" data-bind="text: $root.babystepZText" ></label> -->
  </div>
</div>
