<div id="fullscreenButton" class="row-fluid">
  <button class='btn' data-bind="visible: $root.webcamStatus && classicWebcam.webcamMjpgEnabled(), click: $root.fullScreenButton" >
    <i class='fas fullscreen-icon'></i>
  </button>
</div>
