<!-- Container box that has inputs for the wifi connection  -->
<!-- <div class="container-fluid" id="wifiSetUpWindow">

  <div id="network_list">
    <h3>Available Networks</h3>
    <div data-bind="visible: $root.network_list().length > 0">
      <div data-bind="foreach: network_list">
        <li class="network_entry" data-bind="text: $data"></li>
      </div>
    </div>
  </div>
</div> -->


<!-- - --------------------------------------------->

<div id="wifiSetUpWindow" class="modal hide fade-in in" tabindex="-1">

  <div class="modal-header" data-theme="dark">
    <h3> Wifi </h3>
  </div>
<!-------------------------------------------------------------->
  <div class="modal-body" data-theme="dark">
    <div id="network_list">
      <h3>Available Networks</h3>
      <div data-bind="visible: $root.network_list().length > 0">
        <div data-bind="foreach: network_list">
          <li class="network_entry" data-bind="text: $data, click: $parent.ssidClick.bind($data)"></li>
        </div>
      </div>
    </div>
  </div>
<!-------------------------------------------------------------->
  <div class="modal-footer" data-theme="dark">

  </div>
<!-------------------------------------------------------------->

</div>
