<!-- Container box that has inputs for the wifi connection  -->
<div class="container-fluid" id="wifiSetUpWindow">
  <form class="form-horizontal">
    <h3>Add New Connection</h3>
    <div class="mb-3">
      <label for="ssidInfo" class="form-label"> SSID </label>
      <input id="ssidInfo" type="text" data-bind="textInput: ssid" >
    </div>
    <div class="mb-3">
      <label for="pskInfo" class="form-label"> Password </label>
      <input type="password" id="pskInfo" data-bind="textInput: attemptValue">
      <label class="error" data-bind="visible: !pskValid()">Password must be 8 characters or more.</label>
    </div>
    <button  class="btn btn-primary" data-bind="click: setNewWifi(),visible: pskValid(), enable: pskValid() ">Confirm</button>
  </form>
  <div id="network_list">
    <h3>Available Networks</h3>
    <div data-bind="visible: $root.network_list().length > 0">
      <div data-bind="foreach: network_list">
        <li class="network_entry" data-bind="text: $data"></li>
      </div>
    </div>
  </div>
</div>
