<a id = "navbar_show_wifi_setup" data-bind = "click: wifiClick">
  <i class="fa fa-wifi red-color"></i>
</a>
<!-- visible: offline() -->
<!-- click: function(){ $root.settings.show('settings_plugin_BLOCKS'); } -->
